.reviews__title {
  width: 241px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #283645;
  margin-bottom: 56px;
}

.reviews__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main-photo {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .reviews__author-image {
    width: auto;
  }

  .main-photo {
    width: 100%;
  }

  .reviews__title {
    width: 436px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__author-image {
    width: auto;
  }

  .main-photo {
    width: 100%;
  }

  .reviews__author-name {
    order: 0;
  }

  .main-text {
    order: 2;
  }

  .reviews__title {
    width: 568px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
  }

  .reviews__item-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
  }
}
