.page-main {
  width: 320px;
}

.page-main__headline {
  width: 202px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 24px;
  margin-left: 60px;
  text-align: center;
  color: #283645;
}
