.presentation__list {
  position: relative;
  width: inherit;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.presentation__item {
  width: 252px;
}

.presentation__photo {
  display: none;
}

.presentation__headline {
  font-size: 18px;
  font-weight: bold;
}

.presentation__text {
  font-size: 14px;
  line-height: 1.71;
  color: #283645;
}

.presentation__clock-wrapper {
  display: none;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.presentation__clock-link {
  color: red;
}

@media (min-width: @tablet-width) {
  .presentation__clock-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .presentation__clock-wrapper::before {
    content: "24";
    color: #d22856;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 350px;
    height: 350px;
    font-size: 120px;
    padding-top: 20px;
    background-image: url("../img/timer-svg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }

  .presentation__clock-wrapper::after {
    content: "";
    color: #d22856;
    top: 93px;
    left: 62px;
    border: #d22856 solid 15px;
    position: absolute;
    width: 195px;
    height: 192px;
    border-radius: 50%;
    text-align: center;
  }

  .presentation__clock-text-wrraper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 350px;
    margin-top: 50px;
  }

  .presentation__clock-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #d22856;
    text-decoration: underline;
  }

  .presentation__list {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 350px;
    background-image: url("../img/iphone-screen-3.png");
    background-repeat: no-repeat;
    background-color: none;
  }

  .presentation__headline {
    margin-left: auto;
    margin-right: auto;
  }

  .presentation__clock-headline {
    width: 154px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .presentation__list {
    width: 870px;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: none;
    padding-left: 80px;
    z-index: 5;
  }

  .presentation__item {
    margin-right: 140px;
  }

  .presentation__headline {
    width: 130px;
  }

  .presentation__photo {
    display: block;
    margin-left: 10px;
  }

  .presentation__clock-photo {
    position: relative;
    opacity: 0.3;
  }

  .presentation__clock-numeral {
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    color: #d22856;
    border: 15px solid #d22856;
    border-radius: 50%;
    padding: 15px;
    bottom: -116%;
    left: 368px;
  }

  .presentation__clock-text-wrraper {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .presentation__clock-link {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #d22856;
    text-decoration: underline;
  }

  .presentation__clock-headline{
    width: auto;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }

  .presentation__clock-wrapper {
    width: 960px;
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    position: relative;
    padding-bottom: 230px;
    padding-left: auto;
    padding-right: auto;
  }
}
