@font-face {
  font-family: 'Open Sans','Arial','sans-serif';
  src: url('font/opensans.woff');
  src: url('font/opensans.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans','Arial','sans-serif';;
  src: url('font/opensansbold.woff');
  src: url('font/opensansbold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans','Arial','sans-serif';;
  src: url('font/opensanslight.woff');
  src: url('font/opensanslight.woff2');
  font-weight: lighter;
  font-style: normal;
}
body{
  background: white;
  color: black;
}
a{
  list-style: none;
  text-decoration: none;
  color: white;
}
