.footer {
  width: 320px;
  height: 284px;
}

.footer__footer-logo {
  width: 146px;
  margin-left: 60px;
}

@media (min-width: @tablet-width) {
  .footer{
    width: 660px;
    margin-left: 10px;
    margin-right: 10px
  }
  .footer__wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer__footer-logo {
    margin-left: 10px;
    width: 100px;
  }
}

@media (min-width: @desktop-width) {
  .footer{
    width: 1200px;
    margin-left: 130px;
  }
  .footer__wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer__footer-logo {
    margin-left: 60px;
  }
}
