.footer{
  width: 320px;
  height: 284px;
}
.footer_footer-logo{
  width: 146px;
  margin-left: 60px;
}
.page-footer__copyright{
  display: flex;
  align-items: baseline;
}
.copyright__text{
  margin-left: 50px;
}
