.page-header {
  background: #283645;
}

.page-header__wrraper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    background: #283645;
    background-size: cover;
  }

  .page-header__wrraper {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header .active-font-photo {
    background: url("../img/iphone-6.png"),
      url("../img/back-desktop-jpg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: center, auto;
    border: none, #283645;
    margin: 0 auto;
  }

  .page-header {
    background: url("../img/back-desktop-jpg.jpg");
  }


  .page-header__wrraper {
    width: auto;
  }
}
