.main-info__font-text{
  width: 226px;
  height: 82px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 50px;
  padding-bottom: 50px;
  margin-top: 36px;
}

.main-info__font-photo{
  position: absolute;
  bottom:140px;
  left:-100px;
}
.main-info__background-photo{
  position: relative;
  bottom: 20px;
}
