.main-nav {
  position: relative;

  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #283645;
}

.main-nav__logo {
  position: relative;
  left: 10px;
  top: 10px;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: auto;
  z-index: 2;

  display: none;
  width: 70px;
  height: 50px;
  background: none;

  cursor: pointer;
  border: none;
}

.main-nav__list {
  padding: 0;
}

.main-nav__hard-text {
  display: none;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.main-nav__application-navigation {
  padding-top: 507px;
  text-align: center;
  background: url(../img/iphone-5-in-hand-png.png),
      url(../img/back-mobile-jpg.jpg);
  background-repeat: no-repeat;
  background-size: 150%, 100%;
  margin: 0 auto;
  background-position: center, top 10%;
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: relative;

    width: 660px;
    min-height: 51px;
    margin: 0 auto;

    background-color: #283645;
  }

  .main-nav__toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 70px;
    height: 50px;
    background-color: #283645;

    cursor: pointer;
    border: none;
  }

  .main-nav__logo {
    position: relative;
    left: 50px;
    top: 10px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__application-navigation {
    padding-top: 70px;
    background: none;
  }

  .main-nav__logo {
    position: relative;
    left: -220px;
    top: 62px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__hard-text {
    display: block;
    margin-bottom: 75px;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav--opened {
    background-color: #283645;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
  }

  .main-nav--nojs .main-nav {
    background-color: #283645;
  }
}


@media (min-width: @desktop-width) {
  .main-nav__hard-text {
    display: block;
    margin-bottom: 75px;
  }

  .main-nav {
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    position: relative;
    left: -531px;
    top: 62px;
  }
}


@media (min-width: @desktop-width) {
  .main-nav__application-navigation {
    width: 960px;
    text-align: center;
    background: url("../img/iphone-6-copy.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: center, auto;
  }
}
