.application-navigation__link{
  width: 281px;
  height: 55px;
  margin-right:20px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  border:3px solid white;
  border-radius: 20px;
  padding: 15px;
  margin-left:60px;
}
.application-navigation__wrapper{
  display: flex;
  justify-content: space-around;
  margin-left:27px;
  margin-right: 24px;
  margin-top:40px;
  align-items: baseline;
}
.application-navigation__text{
  color: white;
  text-align: center;
  width:280px;
  height: 37px;
  margin-left: 20px;
  margin-top:29px;
  padding-bottom: 30px;
}
.main-nav__toggle{
  position: relative;
  left:260px;
  background: none;
  border: none;
}
.site-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}
.site-list__item{
  box-shadow: inset 0px 2px 0px black, 0px 1px 0px rgba(255, 255, 255, 0.15);
  line-height: 1.78;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-nav__list{
  padding:0;
}
