.site-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}

.site-list__item {
  line-height: 1.78;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
