.site-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}

.site-list__item {
  box-shadow: inset 0px 2px 0px black, 0px 1px 0px rgba(255, 255, 255, 0.15);
  line-height: 1.78;
  font-family:'OpenSans' 'Arial' , 'sans-serif';
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
